body{
    display: flexbox;
    font-family: 'Courier New', Courier, monospace;
}

button{
    background-color: crimson;

}
h1{
    text-align: center;
    font-size: 50px;
    margin: auto;
}

#timer-container{
    max-width: fit-content;
    margin: auto;
    margin-top: 10px;
    min-width: 25%;
    /* display: flexbox; */

}

#timer-container,input[type=number]{
    font-size: 50px;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

input[type=number]{
    /* min-width: 30%; */
    max-width: 60px;
    border: none;
}

#timer-buttons{
    max-width: fit-content;
    margin: auto;
    margin-top: 10px;

}
#start, #stop, #restart{
    font-size: 20px;
    font-family: monospace;

}


